---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// /* Override avatar styling */
// .author__avatar, .avatar, .bio-photo {
  
//     border-radius: 0 !important; /* Removes any border radius */
//     min-width: 80em;
//     height: 500; /* Ensures the height is not forced by other styles */
//     width: 500; /* Ensures the width is not forced by other styles */
//   }

//   img.u-photo {
//     border-radius: 0 !important; /* Removes rounded corners */
//     object-fit: cover; /* Ensures the image covers the area without being stretched */
//     width: 500; /* Or the width you desire */
//     height: 500; /* Or the height you desire, should match width for a square */
//   }




html {
  font-size: 12px; // originally 16px
  @include breakpoint($medium) {
      font-size: 14px; // originally 18px
  }

  @include breakpoint($large) {
      font-size: 16px; // originally 20px
  }

  @include breakpoint($x-large) {
      font-size: 18px; // originally 22px
  }
}


  .author__avatar img {
    border-radius: 0%;
    max-width: 200px;
    object-fit: cover;
  }


/* Normal link color within text content */
.page__content a {
  color: #224b8d; /* Deep blue color */
}

/* Link color on hover within text content */
.page__content a:hover {
  color: #1c3e70; /* A slightly darker shade of blue for hover */
}

/* Link color when focused within text content */
.page__content a:focus {
  color: #1c3e70; /* Same as hover for consistency */
  outline: thin dotted; /* Optional: adds outline on focus for accessibility */
}

/* Link color for visited links within text content */
.page__content a:visited {
  color: #1a3665; /* Even darker shade of blue for visited links */
}


// .wide-page .page__content {
//   width: calc(70%);/* Adjust the width as needed */
// }

// .main-content {
//     width: calc(85% - 60px); /* 100% minus sidebar width and any desired margin */
// }



// .wide-page .sidebar {
//   width: 10%; /* Adjust this value as needed */
// }

// .wide-page .page {
//   // max-width: 90%; /* 100% minus sidebar width and any desired margin */
//   padding-right: 40px;
// }

@media (min-width: 1024px) { /* adjust 767px to your specific breakpoint */
  .wide-page .page {
  // max-width: 90%; /* 100% minus sidebar width and any desired margin */
  padding-right: 40px;
}
}

/* Media query for smaller screens */
@media (max-width: 1024px) { /* adjust 767px to your specific breakpoint */
  .author__avatar {
    width: 75px; /* desired width for smaller screens */
    height: 75px; /* desired height for smaller screens */
  }

  .author__avatar img {
    max-width: 100%; /* allows the image to resize within the container */
  }
}